{% extends 'scaffolding.html' %} {% block title %} Information on Covid19 {%
endblock %} {% block content %}
<section class="col-12 py-5">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <h3 class="col-12 text-center mb-3">
                    App Information
                </h3>
                <div class="col-12 pt-4 text-center">
                    <p>
                        This application uses a third-party API, powered by
                        <a href="https://corona.lmao.ninja/" target="_blank"
                            >lmao.ninja</a
                        >. Its built in Python with Javascript.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
